html {
	height: 100%;
}
body {
	height: 100%;
	margin: 20px;
}
.clicked {
	fill: #000;
}
.unclicked {
	fill: #eee;
}
.xed {
	opacity: 0;
}
.off {
	fill: #eee;
}
.on {
	fill: #000;
}
.wrong {
	fill: #f00;
}
.unclicked:hover {
	fill: #777;
}
.brick {
	fill: rgb(192,75,75);
}
.clue {
	text-anchor: middle;
	font-family: Helvetica;
}
svg text {
	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}