.clicked {
	fill: black;
}
.unclicked {
	fill: white;
}
.xed {
	opacity: 0;
}
.off {
	fill: white;
}
.unclicked:hover {
	fill: gray;
}
.brick {
	fill: rgb(192,75,75);
}
svg text {
	pointer-events: none;
}